/* Global Styles */

.reveal section img {
    border: 0px;
    box-shadow: none;
    background: none;
}

/* Text Sizes */

p.small,
a.small {
    font-size: 28px;
}

/* Background Slides */

.stroke p {
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.stroke h2 {
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.large p {
    font-size: 64px;
    font-weight: bold;
}

/* Title */

#logo-notice {
    float: right;
}

#logo-notice p {
    font-size: 18px;
    margin: 5px;
    text-align: center;
}

/* Contact Details */

.donald {
    background-image: url('../images/donald.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 125px;
    width: 400px;
    height: 400px;
}

div.contact-details {
    margin-top: 125px;
}

.left-col {
    width: 50%;
    float: left;
}

.right-col {
    width: 50%;
    float: right;
}

.clear-col {
    float: none;
    clear: both;
}

/* Graph Sizes */

#shape-plot {
    width: 500px;
    height: 400px;
    margin-top: 32px
}

#shape-plot-discriminant {
    width: 450px;
}

#shape-plot-complex {
    width: 450px;
}

#shape-plot-overfitting {
    width: 450px;
}

#step-activation-function-chart,
#all-activation-functions-chart {
    margin-top: 32px;
}

/* Image Sizes */

img[alt="department for transport"] {
    width: 175px;
    margin: 5px;
}

img[alt="bloomberg"] {
    width: 600px;
}

img[alt="bt"] {
    width: 200px;
    padding-right: 30px;
}

img[alt="ibm"] {
    width: 200px;
    padding-right: 30px;
}

img[alt="helper.io"] {
    width: 85px;
}

img[alt="education"] {
    width: 300px;
}

img[alt="security"] {
    width: 300px;
}

img[alt="robotics"] {
    width: 300px;
}

img[alt="finance"] {
    width: 300px;
}

img[alt="speech recognition"] {
    width: 300px;
}

img[alt="advertising"] {
    width: 300px;
}

img[alt="Geoff Hinton"] {
    width: 200px;
}

img[alt="Yann Lecun"] {
    width: 200px;
}

img[alt="Yoshua Bengio"] {
    width: 200px;
}

img[alt="perceptron"] {
    width: 800px;
}

img[alt="perceptron_learning"] {
    zoom: 0.5; /* all browsers */
    -moz-transform: scale(0.5);  /* Firefox */
}
